
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FootballWebSite</title>
</head>
<body>
<h1 style="color:red; text-align: center">Arsenal</h1>

<table>
    <tr>
        <th>FirstName</th>
        <th>FamilyName</th>
        <th>Age</th>
        <th>Position</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:text="${player.firstName}">hello</td>
        <td th:text="${player.familyName}">world</td>
        <td th:text="${player.age}">25</td>
        <td th:text="${player.position}">right-wing</td>
    </tr>
</table>
</body>
</html>