<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>FootballWebSite</title>
</head>
<body>

<h1 style="color:white;
    text-align: center;
margin-bottom: 10px;
background-color: darkslategrey">My Clubs</h1>
<th:block th:include="~{navbar}"/>
<br>
<container style="font-size: 24px; font-family: Arial"> List of clubs you can check on my site!<br>
    <br>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">ClubName</th>


    </tr>
    </thead>
    <tbody>
    <tr    th:each="club : ${clubs}">
        <td> <a th:href="${club.name}" th:text="${club.name}">hello</a></td>
    </tr>
    </tbody>
</table>



<footer style="text-align: center"><b>Basic website created with SpringBoot by Marin Filipov</b></footer>
</body>
</html>
