# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\SchoolParent\SpringJava\Projects\MentorMate\.idea/
/../../../../../../:\SchoolParent\SpringJava\Projects\MentorMate/out/
/../../../../../../:\SchoolParent\SpringJava\Projects\MentorMate/MentorMate.iml
# Editor-based HTTP Client requests
/httpRequests/
